.border-0 { border: none !important;} 
a.sidebar-toggle{text-decoration: none !important;}

.alert {
    position: fixed;
    width: 350px;
    z-index: 99;
    opacity: 0.9;
    /*bottom: 100px;*/
    /*left: calc(50% - 175px);*/
    bottom: 20px;
    right: 5px
}

.btn { border-radius: 0 !important; }