select {
    padding-right: 1.5rem !important;
}

.menu-category li {
    line-height: 30px;
    border-bottom: none;
}

.list-dots > li {
    position: unset;
}

.list-dots > li::before {
    display: none
}

.slider-main .item-slide {
    height: 380px;
}

.menu-category li:hover {
    background: #2abf80;
}

.menu-category > li > a:hover {
    color: white;
}

ul#submenu {
    width: 220%;
    border: 1px solid #2abf80;
}

.menu-category .submenu {
    height: 414px;
    position: absolute;
    top: -5px;
    left: 298px;
    background: #ffffff;
}

.menu-category .submenu li a:hover {
    color: white;
}

.menu-category .submenu li a {
    padding: 3px 15px;
    font-size: 95%;
}

.itemside {
    height: 49.5%;
    border: 1px solid #efefef;
}

footer.section-footer {
    box-shadow: 0px -1px 10px -2px gainsboro;
    border-top: 1px solid #DDD;
    background: white;
    position: relative;
    z-index: 99;
    margin-top: 15px;
}

footer.section-footer a, footer.section-footer p {
    color: #1e2648 !important;
}

footer.section-footer a:hover {
    color: #FF7606 !important;
}

footer .btn i {
    color: #f8f8f8;
}

footer .btn-group, .btn-group-vertical {
    top: 9px;
    left: 32px;
}

.card-home-destaque .itembox img {
    height: 110px;
    max-width: 90%;
}

.card-home-destaque .card-body {
    padding: 15px;
}

.card-home-destaque p {
    font-size: 13px;
}

.card-home-destaque h5 {
    z-index: 999;
    position: absolute !important;
    text-align: center;
    font-size: 1.25rem;
    color: white;
    text-shadow: 1px 1px 1px grey;
}

.card-home-destaque a:hover {
    color: #959595;
}

.card-home-destaque span {
    color: #FF7606;
}

.card-home-destaque.lojap p {
    margin: 0;
    position: relative;
    top: 30px;
    position: relative;
    top: 15px;
    height: 25px;
}

.card-home-destaque .row {
    height: 200px;
}

.heading-line .title-section {
    /*float: right;*/
    padding-left: 15px;
}

.publicidade-home img {
    max-height: 100% !important;
    max-width: 100%;
    /*right: calc(50% - 87px) !important;*/
}

.itemside p, .itemside .title {
    text-align: center;
}

.ads-item-box {
    border: 1px solid #ececec;
}

.ads-item-box div, .ads-item-box h4, .ads-item-box img {
    border: none !important;

}

.ads-item-box div.image {
    height: 115px;
}

.ads-page .ap-ads-related .item {
    margin-bottom: 10px;
}

.ads-page .ap-ads-related a.item:hover {
    color: #FF7606;
}

.ads-item-box h4 {
    padding: 0px 10px;
    margin-top: 15px;
    font-size: 15px !important;
    height: auto !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block !important;
}

.ads-page .ap-ads-related h2 {
    border-bottom: none;
}

ul#slideshow3_thumbs img {
    max-width: unset;
    max-height: 100%;
}

ul#slideshow3_thumbs li {
    overflow: hidden;
    height: 70px;
    margin-bottom: 6px;
    /*box-shadow: 0px 0px 5px 2px #d2d2d2;*/
    border: #eeeeee 1px solid;
}

#slideshow3 {
    /*box-shadow: 0px 0px 5px 1px #d2d2d2;*/
    border: #eeeeee 1px solid;
}

.info-vendedor li {
    display: inline;
    margin-right: 5px;
}

.ads-page .ap-salesman-info ul li {
    list-style: none;
    text-align: center;
}

.views-count {
    float: right;
    position: relative;
    top: -20px;
}

/*.ap-share a#ap-s-facebook:hover {
background-color: #2d4373;
}
.ap-share  a#ap-s-facebook {
    background-color: #3b5998;
}
.ap-share a#ap-s-mail {
background-color: #126573;
}*/
.ap-share i {
    color: white !important;
    font-weight: 100;
    padding-left: 8px;
}

.share-button {
    float: left;
    height: 20px;
}


.social-toggle:hover {
    color: #FF7606 !important;
}

.no-js .social-toggle, .no-js .social-toggle:hover {
    cursor: default;
    border: none;
    background: transparent;
    color: rgb(200, 200, 200);
    pointer-events: none;
}

.social-networks {
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0) translateY(-190px);
    transform: scale(0) translateY(-190px);
    opacity: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    margin-left: -45%;
    /* stops flickering */
    -webkit-backface-visibility: hidden;
}

.social-whatsapp {
    background: #17b93b;
}

.social-mail {
    background: #6cdfea;
}

.social-networks.open-menu, .no-js .social-networks {
    -webkit-transform: scale(1) translateY(-90px);
    transform: scale(1) translateY(-70px);
    opacity: 1;
}


.social-networks ul {
    position: relative;
    top: 0;
    left: 0;
    width: 180px;
    height: 40px;
    color: #fff;
    background: #3b5998;
    margin: auto;
    padding: 0;
    list-style: none;
}

.social-networks ul:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    right: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

.social-networks.open-menu ul:after, .no-js .social-networks ul:after {
    margin: 35px auto;
    border-top: 12px solid #3b5998;
}

.social-networks i {
    color: white !important;
    font-size: 22px !important;
    margin: 9px;
    font-weight: 100;
}

.social-networks i:hover {
    color: #ccc !important;
}

.social-networks li {
    font-size: 20px;
    width: 60px;
    margin: 0;
    text-align: center;
    float: left;
    display: block;
    height: 40px;
    line-height: 40px;
    position: relative;
    z-index: 2;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s ease;
}

.share-button a {
    text-decoration: none;
    display: inline;
}

.social-networks a {
    display: block;
    color: white;
}

.social-networks a:hover {
    color: #ccc;
}

a.ap-a-report.modal-open:hover {
    color: #FF7606;
}

.breadcrumbs ul {
    list-style-type: none;
}

section.breadcrumbs {
    padding: 15px 13px;
}

.page-add-ads div.col-add {
    height: 400px;
}

.page-add-ads ul {
    overflow: auto;
    height: 100%;
}

.page-add-ads li {
    padding: 5px;
}

.page-add-ads li.selected {
    /*width: 90%;*/
    transition: color 0.3s ease-in-out;
    border-radius: 6px;
    background: #f5f5f5;
    color: #FF7606;
}

.page-add-ads li:hover {
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    color: #FF7606 !important;
}

.owl-carousel button.owl-dot {
    width: 14px;
}

body, .bggrey, .bg {
    background-color: #f2f3f7 !important;
}

.color-grey {
    color: grey !important;
}

header.section-header, .bgwhite {
    background-color: white;
}

.border-grey {
    border: #dcdee3 1px solid !important;
}

a.btn.btn-vermais {
    border-radius: 17px;
    background: white;
    position: relative;
    top: 65px !important;
    left: 20px;
}

.box-hover-shadow:hover {
    box-shadow: 0px 0px 8px 0px #6f6f6f57 !important;
}

.hover-shadow:hover {
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.35);
}

.navbar-nav a.nav-link:hover, .navbar-nav a:hover, a.nav-link:hover {
    color: #FF7606 !important;
}

.filtro-preco-menu li:hover {
    color: white;
    cursor: pointer;
}

.chat-icon-ads.ap-send-message button {
    color: #959595;
}

.chat-icon-ads.ap-send-message button:hover {
    color: #F2700F;
}

.chat-icon-ads.ap-send-message {
    position: absolute;
    bottom: 35px;
    right: 14px;
}

.itembox img {
    width: 100%;
    max-width: 100%;
    height: 150px;
}

.hover-grey:hover {
    color: grey !important;
}


.ads-page .ap-ads-related .item h4 {
    color: grey !important;
}

.ad-price, .ad-price:hover {
    color: #333 !important;
    /*color: green !important;*/
    font-weight: 600 !important;
}

.menu-category.second-menu li {
    line-height: 20px;
}

.menu-category.second-menu li, .menu-category.second-menu li a {
    font-size: 13px;
}

.menu-category.second-menu li:hover {
    background: unset !important;
}

.menu-category.second-menu a:hover, .menu-category.second-menu li:hover {
    color: grey !important;
}

.menu-dashboard a {
    color: grey !important;
    display: block;
}

.menu-dashboard a:hover {
    color: #495057 !important;
}

.menu-dashboard ul {
    list-style: none;
}

.menu-dashboard li {
    margin: 0;
    padding: 10px 35px;
}

.menu-dashboard li:hover {
    border-left: 3px solid #FF7606;
    padding: 10px 32px;
}

.menu-dashboard li span {
    font-size: 13px;
}

.menu-dashboard i {
    font-size: 20px;
    margin-right: 20px;
}

.menu-dashboard a.active i {
    color: #FF7606;
}

.profile-infos ul {
    list-style: none;
}

.profile-infos li, .profile-infos i, .profile-infos strong {
    text-shadow: unset !important;
    color: #333 !important;
}

.profile-infos {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.rounded-4 {
    border-radius: 0.3rem;
}

.btn-facebook {
    background-color: grey;
}

.btn-facebook:hover {
    background-color: #405D9D;
}


.btn-instagram {
    background-color: grey
}

.btn-instagram:hover {
    background-color: #C8046C;
}

.btn-youtube {
    background-color: grey;
}

.btn-youtube:hover {
    background-color: #E52D27;
}

.btn-twitter {
    background-color: grey;
}

.btn-twitter:hover {
    background-color: #42AEEC;
}

footer.section-footer h5 a {
    font-size: 13px !important;
    color: #959595 !important
}

footer.section-footer p {
    text-align: left;
    color: #959595 !important;
}

.navbar-nav .nav-link {
    font-size: 13px;
}

header a {
    color: grey !important
}

header input, header button, header select, header optgroup, header textarea {
    font-size: 13px !important;
    color: grey !important
}

.btn.btn-primary:hover {
    background-color: #F2700F !important;
    border-color: #F2700F !important
}

.btn-primary {
    border-color: #F2700F !important
}

.bgnone {
    background-color: unset !important;
}

li.bgwhite-child div.card-body {
    background-color: white;
    height: 365px !important;
}

/*li.bgwhite-child div.card-body{background-color: white; height: 295px !important;}*/


li.bgwhite-child .itembox img {
    height: 170px !important;
}

.announce-insert .ai-form .ai-f-categories > div ul, .ai-f-c-sub ul {
    height: 150px;
    overflow: overlay;
}

.announce-insert .ai-form .ai-f-categories > div ul > li {
    color: #959595;
    background-color: #ffffff;
}

.announce-insert .ai-form .ai-f-categories > div ul > li.active {
    background-color: unset;
    color: #FF7606;
}

.modal-login-alert i {
    font-size: 50px;
    color: orange;
    position: relative;
    top: 28px;
    margin-right: 15px;
}

#msg-box, .alert {
    position: fixed;
    padding: 10px;
    bottom: 24px;
    z-index: 99;
    width: 500px;
    left: calc(50% - 250px);
    opacity: 0.9;
}

.desbug-alert {
    position: unset !important;
    width: unset !important;
    opacity: unset !important;
}

.imgbgclass {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.ads-step-start {
    flex-wrap: nowrap !important;
    overflow: -webkit-paged-x !important;
}

.form-control:focus {
    border-color: #ffa600;
    box-shadow: 0 0 10px 0rem #1e264840;
}

.card-icon {
    width: 40px;
    height: 30px;
    display: inline-block;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    margin-right: 5px;
}

.visa-icon {
    background: url(../img/visa.jpg);
}

.boleto-icon {
    background: url(../img/boleto.jpg);
}

.master-icon {
    background: url(../img/master.jpg);
}

.sb-color2 {
    color: #666;
}

.bannercard {
    position: relative;
    bottom: 50px;
    z-index: 9;
    margin-bottom: -50px !important;
}

.panel.panel-default.bgwhite.p-2 {
    box-shadow: 0 0 15px 0px #8080803d;
}

.dark1 {
    color: #999 !important
}

.dark2 {
    color: #363636 !important
}

.dark3 {
    color: #333 !important
}

.primary-text {
    color: #FF7606 !important
}

.primary-bg {
    color: #FF7606 !important
}

.btn-primary {
    background-color: #FF7606 !important
}

.border-primary {
    border: 1px solid #FF7606 !important
}

.secondary-text {
    color: #E7CC07 !important
}

.secondary-bg {
    color: #E7CC07 !important
}

.btn-secondary {
    background-color: #E7CC07 !important
}

.border-secondary {
    border: 1px solid #E7CC07 !important
}

.border-primary {
    border: 1px solid #FF7606 !important
}

.tertiary-text {
    color: #FF4812 !important
}

.tertiry-bg {
    color: #FF4812 !important
}

.btn-tertiry {
    background-color: #FF4812 !important
}

.border-tertiry {
    border: 1px solid #FF4812 !important
}

.border-primary {
    border: 1px solid #FF7606 !important
}

.tertiary-base {
    color: #0f5a66 !important
}

.tertiry-base {
    color: #0f5a66 !important
}

.btn-base {
    background-color: #0f5a66 !important
}

.border-base {
    border: 1px solid #0f5a66 !important
}

.c6 {
    color: #666 !important
}

.c3 {
    color: #333 !important
}

.f14 {
    font-size: 14px !important
}

.f18 {
    font-size: 18px !important
}


.slick-arrow {
    cursor: pointer;
    position: absolute;
    top: 40% !important;
    z-index: 9;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    padding-top: 18px;
    opacity: 0;
    transition: .2s;
}

.sl-next {
    right: -20px;
}

.sl-prev {
    left: -20px;
}

.toslick:hover .slick-arrow {
    color: #1e2648;
    box-shadow: 0 7px 16px 0 rgba(0, 0, 0, .2), 0 1px 3px 0 rgba(0, 0, 0, .1);
    background: white;
    opacity: 1;
}

.a-link {
    color: #006777 !important
}

.color-36 {
    color: #363636 !important;
}