.titulo_filtro {font-size: 18px; 
    font-weight: 700; 
    text-align: center;
}
#filterApp {
    font-size: 16px; 
    font-weight: 600; 
    float: left; 
    width: 100%;
    margin-bottom: 10px; 
    width: 100%; 
    float: left; 
    padding: 7px; 
    background-color: #2CC17B; 
    border: 1px solid #198451; 
    border-radius: 4px;
    text-align: center;
    color: white;
}
#box-filter {
    margin-bottom: 20px; 
    width: 100%; 
    float: left; 
    padding: 10px; 
    background-color: white; 
    border: 1px solid #DDD; 
    border-radius: 4px;
    font-size: 15px;
}
#title-filter {
    padding: 5px;
    font-size: 16px;
}