
	.nav-switch{
		padding: .25rem;
		font-weight: 600;
		color: #fff !important;
		border-top-right-radius: 1.5rem;
		border-bottom-right-radius: 1.5rem;
	}
	.nav-switch:hover{
		border: none;
		color: #1e2648 !important;
	}
	.navbar-nav a.nav-link:hover, .navbar-nav a:hover, a.nav-link:hover {
		color: #1e2648 !important;
	}
	.active{
		color: #2cc17b !important;
		border-radius: 20px !important;
		border: #2cc17b solid 2px !important;
	}
	.switch-btn-group{
		border: none;
		background: #2cc17b;
		border-radius: 1.5rem;
		width: 40%;
		float: right;
	}
	.tab-content {float: unset !important;}
	.tab-content>.tab-pane {border: none !important; color: unset;}
	.switch-btn-group{color: black !important}
	h3{
		color: black !important
	}

	.radio {
  padding-left: 20px; }
  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .radio input[type="checkbox"] label::before {  border-radius: unset !important; }
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out;
      margin-top: 4px; }
    .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 7px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #2cc17b;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"], .radio input[type="checkbox"] {
    opacity: 0; }
    .radio input[type="radio"]:focus + label::before, .radio input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after, .radio input[type="checkbox"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label, .radio input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before, .radio input[type="checkbox"]:disabled + label::before {
        cursor: not-allowed; }
  .radio.radio-inline {
  	display: inline-block;
    margin-top: 0; }