.btn-mobile-btn {
    margin-top: 19px;
}
@media (max-width: 960px) {
	.slider-main .item-slide {
		height: auto
	}
	.menu-category .submenu {
		max-width: 100%;
		left: 0;
		top: 100%
	}
	.border-cols>[class*="col-"] {
		border-width: 0 0 1px 1px
	}
}

@media all and (max-width: 720px) {
	.p-0-mobile{
		padding: 0 !important;
	}
	.navbar {
		padding: 1rem
	}
	.navbar-landing {
		transition: .5s;
		padding-top: 7px;
		padding-bottom: 7px
	}
	.nav-item .btn {
		margin: 7px 0 !important
	}
	.list-inline-item {
		vertical-align: middle;
		margin-bottom: 5px;
		margin-top: 5px
	}
	.section-header .logo,
	.header-main .logo {
		max-height: 35px;
		width: auto;
		margin-top: 18px !important;
	}
	.section-header .logo-text,
	.header-main .logo-text {
		font-size: 24px
	}
	.section-header .brand-wrap,
	.section-header .search-wrap,
	.section-header .widget-header,
	.header-main .brand-wrap,
	.header-main .search-wrap,
	.header-main .widget-header {
		margin-bottom: 1rem
	}
}

@media (max-width: 1135px) {
	header i.fas.fa-user {
		left: 10px !important;
	}
}
@media (max-width: 1025px) {
	header i.fas.fa-user {
		left: 0px !important;
	}
}
@media (max-width: 991px) {
	header.section-header.shadow-sm{
	    padding-bottom: 8px !important;
	}
	.slider-d-thumb{display: flex;}
	.slider-d-thumb-col{order: 13; padding: 0;}
}
@media (max-width: 578px){
	li.bgwhite-child .itembox img {height: 260px !important;}
	li.bgwhite-child div.card-body{background-color: white; height: 365px !important;}
	.px-mobile{ /*for itens show*/
		padding: 0px 25px !important;
	}
	.py-mobile{ /*for itens show*/
		padding: 25px 0px !important;
	}
	.px-0-mobile{ /*for container*/
		padding: 0px 0px !important;
	}
	.itemside .img-bg{
		position: unset;
	}

}
/*@media (max-width: 768px){
	.slider-d-thumb{display: flex;}
	.slider-d-thumb-col{order: 13; padding: 0;}
}*/

@media (max-width: 991px){
	footer .col-logo{text-align: center;}
	footer .btn-group, .btn-group-vertical {top: unset;left: unset;}
}

@media (max-width: 767px){
	.ads-step-start{
		flex-wrap: wrap !important;
    	overflow: unset !important;
    }
}