#vueApp input{
  border-radius: 0.25rem;
}
#vueApp span.helper{
  border-radius: 0.25rem;
}
#vueApp h4{
  margin-bottom: 1rem;
}
#vueApp .columns{
  display: flex;
}
#vueApp .column{
}
#vueApp .column .container{
  padding: 2rem;
  border: 1px  rgb(104, 104, 104);
  border-radius: 0.25rem;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}



#vueApp #servicos .container h5{
  color:#428bca;
  
}

#vueApp #outros .container h5{
  color:#5cb85c;
  
}

#vueApp #imoveis .container h5{
  color:#dd6259;
  
}

#vueApp #veiculo .container h5{
  color:#f0ad4e;
  
}

#vueApp #servicos .container:hover{
  border:1px solid #428bca;
  
}

#vueApp #outros .container:hover{
  border:1px solid #5cb85c;
  
}

#vueApp #imoveis .container:hover{
  border:1px solid #dd6259;
  
}

#vueApp #veiculo .container:hover{
  border:1px solid #f0ad4e;
  
}

#vueApp .column .container:hover{
  box-shadow: -1px 6px 8px rgba(0, 0, 0, 0.2);
}

#vueApp .column .container h5{
  text-align: center;
  margin-bottom: 0.8rem;
    color: #2CC17B;
}
#vueApp .column .container img{
  padding: 2rem;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

#vueApp .column .container img:hover{
  opacity: 1;
}
#vueApp #subcategories .column .container img{
  opacity: 1;
}
#vueApp #cheapNav li{ 
  display: inline-block;
  font-size: 1.6em;
  padding: 1rem;
  transition: font-weight 0.6s ease-in-out;
  cursor: pointer;
}
#vueApp #cheapNav li:hover{
  color: #1E2648;
  font-weight: 400;
}
#vueApp #cheapNav li.__active{ 
  color: #2CC17B;
  font-weight: 400;
}

#vueApp #subcategories .columns{
  overflow-x: auto;
  height: calc(100vh - 20rem);
}

#vueApp #subcategories .column{
  width: 30%;
  min-width: 400px;
  overflow-y: auto;
}
#vueApp #subcategories .container{
  border: none;
  box-shadow: none;
  border-radius: 0;
  cursor: auto;
}

#vueApp #subcategories .columns .container{
  border-radius: 0.25rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  background: white;
  height: 100%;
    border: 1px solid #DDD;
}

#vueApp #subcategories #subcategoriesWrapper{
  width: 100%;
  height: auto;
}

#vueApp #subcategories #subcategoriesWrapper li{
  font-size: 1.3em;
  margin: 0.25rem 0;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  color: #999;
}

#vueApp #subcategories #subcategoriesWrapper li.__active{
  color: #2CC17B;
  font-weight: 400;
}
#vueApp #subcategories #subcategoriesWrapper li.__active:hover{
  color: #2CC17B;
}

#vueApp #subcategories #subcategoriesWrapper li:hover{
  color: black;
}

#vueApp #subcategories #subcategoriesWrapper .hidden{
  display: none;
}



#vueApp #subcategories #other label{
  font-size: 1.2em;
  font-weight: 600;
}
#vueApp #subcategories #other input{
  width: calc(100%);
  background: #f2f2f2;
  padding: 1rem;
}

#vueApp #subcategories #other button{
  width: 100%;
}

#vueApp #subcategories #other input.hidden{
  display: none;
}


#vueApp #subcategories .columns .column:first-child{
  min-width: 30%;
  width: 30%;
}

#vueApp #subcategories .columns #voltar{
  display: none;

}


@media only screen and (max-width:872px){ /*orientation:landscape é quando o celular estiver deitado*/
    #vueApp .container img{
      display: none;
    }
    #vueApp .columns{
      display: block;
    }

    #vueApp #cheapNav li{
      display: block;
      float: left;
    }
    #vueApp h4{
      margin-bottom: 1rem;
      margin-left: 15%;
    }
    #vueApp .columns{
      display: block;
      position: fixed;
    }

    #vueApp .li{
      display: block;
    }

    #vueApp #subcategories #subcategoriesWrapper li{
      font-size: 1.3em;
      margin: 0.25rem 0;
      cursor: pointer;
      transition: color 0.3s ease-in-out;
      color: rgb(63, 58, 58);
      font-weight: 200;
    }

    #vueApp #subcategories #subcategoriesWrapper li.__active{
      color: #2CC17B;
      font-weight: 200;
    }

    #vueApp #subcategories #other {
      margin-top: 20px;
      margin-left: 0px;
      left: 30px;
      display: block;
      position: fixed;
      min-height: 400px;
      max-height: 400px;
      max-width:  320px;
      
      
    }

    #vueApp #subcategories #subcategoriesWrapper {
      margin-top: 20px;
      margin-left: 0px;
      left: 30px;
      display: block;
      float: left;
      position: fixed;
      min-height: 400px;
      max-height: 400px;
      max-width:  320px;
      overflow: auto;
      text-align: center;
    
    }
    
   
    

    #vueApp #subcategories #cheapNav ul li{
      display: flex;
      font-size: 12px;
    }

    #vueApp #subcategories .columns .column:first-child{
       min-width: 100%;
       
    }

    #vueApp #subcategories .columns .column  h5{
      size: 12px;
      display: block;
      text-align: center;
      color: red;
    
    }

    #vueApp{
      position: fixed;
      margin-left: 1%;
      z-index: 9999;
    }
    #vueApp #subcategories .columns #voltar{
      display: block;
    
    }

    
}
